In [27]:
import os
import pandas as pd

inputdir = './cornell_movie_dialogs_corpus/cornell movie-dialogs corpus/'

In [33]:
import re
import tqdm

with open(inputdir + 'movie_titles_metadata.txt', 'r', encoding='UTF-8') as f:
    lines = f.readlines()


with open(inputdir + 'movie_titles_metadata.csv', 'a', encoding='UTF-8') as f2:
    for line in lines:
        line = r'{}'.format(line)
        text = re.sub(r' \+{3}\$\+{3} ', r'\t', line)
        f2.write(text)

In [44]:
cornell = pd.read_csv(inputdir+'movie_titles_metadata.csv', sep='\t', header=None)

cornell.columns = ['id','title', 'year', 'rating', 'votes', 'genre']

cornell.head()

,id,title,year,rating,votes,genre
0,m0,10 things i hate about you,1999,6.9,62847,"['comedy', 'romance']"
1,m1,1492: conquest of paradise,1992,6.2,10421,"['adventure', 'biography', 'drama', 'history']"
2,m2,15 minutes,2001,6.1,25854,"['action', 'crime', 'drama', 'thriller']"
3,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']"
4,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thrill..."

In [52]:
with open(inputdir + 'movie_lines.txt', 'r', encoding='UTF-8', errors='ignore') as f:
    lines = f.readlines()


with open(inputdir + 'movie_lines.csv', 'a', encoding='UTF-8') as f2:
    for line in lines:
        line = r'{}'.format(line)
        text = re.sub(r' \+{3}\$\+{3} ', '|', line)
        f2.write(text)

cornell2 = pd.read_csv(inputdir+'movie_lines.csv', sep='|', header=None, error_bad_lines=False)

cornell2.columns = ['id','char_id', 'movie_id', 'charname', 'line']

cornell2.head()

b'Skipping line 143731: expected 5 fields, saw 6\nSkipping line 143843: expected 5 fields, saw 6\nSkipping line 144013: expected 5 fields, saw 6\nSkipping line 144058: expected 5 fields, saw 6\nSkipping line 144067: expected 5 fields, saw 6\nSkipping line 144130: expected 5 fields, saw 6\nSkipping line 144168: expected 5 fields, saw 6\nSkipping line 223845: expected 5 fields, saw 9\nSkipping line 223950: expected 5 fields, saw 41\nSkipping line 223964: expected 5 fields, saw 6\nSkipping line 224056: expected 5 fields, saw 6\nSkipping line 224287: expected 5 fields, saw 6\n'

      id char_id movie_id charname          line
0  L1045      u0       m0   BIANCA  They do not!
1  L1044      u2       m0  CAMERON   They do to!
2   L985      u0       m0   BIANCA    I hope so.
3   L984      u2       m0  CAMERON     She okay?
4   L925      u0       m0   BIANCA     Let's go.

In [60]:
import spacy
import numpy as np
nlp = spacy.load('en_core_web_sm', disable=['parser', 'ner'])
allowed = set('ADJ NOUN VERB'.split())

def prep(txt):
    toklst = []
    tokens = nlp(txt)
    if tokens:
        for t in tokens:
            if t.pos_ in allowed and t.is_alpha and not t.is_stop:
                toklst.append(t.text)
    return ' '.join(toklst).casefold()

groups = cornell2.groupby('movie_id')

cornell['text'] = np.NaN

for group in groups.groups:
    df = groups.get_group(group)
    print(group)
    lst = [str(value) for value in df.line.values]
    text = ' '.join(lst)
    text = prep(text)
    cornell.iloc[int(group[1:]), 6] = text

m0
m1
m10
m100
m101
m102
m103
m104
m105
m106
m107
m108
m109
m11
m110
m111
m112
m113
m114
m115
m116
m117
m118
m119
m12
m120
m121
m122
m123
m124
m125
m126
m127
m128
m129
m13
m130
m131
m132
m133
m134
m135
m136
m137
m138
m139
m14
m140
m141
m142
m143
m144
m145
m146
m147
m148
m149
m15
m150
m151
m152
m153
m154
m155
m156
m157
m158
m159
m16
m160
m161
m162
m163
m164
m165
m166
m167
m168
m169
m17
m170
m171
m172
m173
m174
m175
m176
m177
m178
m179
m18
m180
m181
m182
m183
m184
m185
m186
m187
m188
m189
m19
m190
m191
m192
m193
m194
m195
m196
m197
m198
m199
m2
m20
m200
m201
m202
m203
m204
m205
m206
m207
m208
m209
m21
m210
m211
m212
m213
m214
m215
m216
m217
m218
m219
m22
m220
m221
m222
m223
m224
m225
m226
m227
m228
m229
m23
m230
m231
m232
m233
m234
m235
m236
m237
m238
m239
m24
m240
m241
m242
m243
m244
m245
m246
m247
m248
m249
m25
m250
m251
m252
m253
m254
m255
m256
m257
m258
m259
m26
m260
m261
m262
m263
m264
m265
m266
m267
m268
m269
m27
m270
m271
m272
m273
m274
m275
m276
m277
m278
m279
m28
m280
m281
m282
m283
m284
m285
m286
m287
m288
m289
m29
m290
m291
m292
m293
m294
m295
m296
m297
m298
m299
m3
m30
m300
m301
m302
m303
m304
m305
m306
m307
m308
m309
m31
m310
m311
m312
m313
m314
m315
m316
m317
m318
m319
m32
m320
m321
m322
m323
m324
m325
m326
m327
m328
m329
m33
m330
m331
m332
m333
m334
m335
m336
m337
m338
m339
m34
m340
m341
m342
m343
m344
m345
m346
m347
m348
m349
m35
m350
m351
m352
m353
m354
m355
m356
m357
m358
m359
m36
m360
m361
m362
m363
m364
m365
m366
m367
m368
m369
m37
m370
m371
m372
m373
m374
m375
m376
m377
m378
m379
m38
m380
m381
m382
m383
m384
m385
m386
m387
m388
m389
m39
m390
m391
m392
m393
m394
m395
m396
m397
m398
m399
m4
m40
m400
m401
m402
m403
m404
m405
m406
m407
m408
m409
m41
m410
m411
m412
m413
m414
m415
m416
m417
m418
m419
m42
m420
m421
m422
m423
m424
m425
m426
m427
m428
m429
m43
m430
m431
m432
m433
m434
m435
m436
m437
m438
m439
m44
m440
m441
m442
m443
m444
m445
m446
m447
m448
m449
m45
m450
m451
m452
m453
m454
m455
m456
m457
m458
m459
m46
m460
m461
m462
m463
m464
m465
m466
m467
m468
m469
m47
m470
m471
m472
m473
m474
m475
m476
m477
m478
m479
m48
m480
m481
m482
m483
m484
m485
m486
m487
m488
m489
m49
m490
m491
m492
m493
m494
m495
m496
m497
m498
m499
m5
m50
m500
m501
m502
m503
m504
m505
m506
m507
m508
m509
m51
m510
m511
m512
m513
m514
m515
m516
m517
m518
m519
m52
m520
m521
m522
m523
m524
m525
m526
m527
m528
m529
m53
m530
m531
m532
m533
m534
m535
m536
m537
m538
m539
m54
m540
m541
m542
m543
m544
m545
m546
m547
m548
m549
m55
m550
m551
m552
m553
m554
m555
m556
m557
m558
m559
m56
m560
m561
m562
m563
m564
m565
m566
m567
m568
m569
m57
m570
m571
m572
m573
m574
m575
m576
m577
m578
m579
m58
m580
m581
m582
m583
m584
m585
m586
m587
m588
m589
m59
m590
m591
m592
m593
m594
m595
m596
m597
m598
m599
m6
m60
m600
m601
m602
m603
m604
m605
m606
m607
m608
m609
m61
m610
m611
m612
m613
m614
m615
m616
m62
m63
m64
m65
m66
m67
m68
m69
m7
m70
m71
m72
m73
m74
m75
m76
m77
m78
m79
m8
m80
m81
m82
m83
m84
m85
m86
m87
m88
m89
m9
m90
m91
m92
m93
m94
m95
m96
m97
m98
m99

In [61]:
cornell.head()

,id,title,year,rating,votes,genre,text
0,m0,10 things i hate about you,1999,6.9,62847.0,"['comedy', 'romance']",hope okay let gon need learn lie kidding know ...
1,m1,1492: conquest of paradise,1992,6.2,10421.0,"['adventure', 'biography', 'drama', 'history']",like smell sea smells cunt bad sign left weeks...
2,m2,15 minutes,2001,6.1,25854.0,"['action', 'crime', 'drama', 'thriller']",officers killer duty arrest kill famous caught...
3,m3,2001: a space odyssey,1968,8.4,163227.0,"['adventure', 'mystery', 'sci-fi']",trying hope continued sorry liberty discuss co...
4,m4,48 hrs.,1982,6.9,22289.0,"['action', 'comedy', 'crime', 'drama', 'thrill...",great great air tires sell gas need chargin ba...

In [62]:
print(np.mean([len(value) for value in cornell.text.values]))

TypeError: object of type 'float' has no len()

In [64]:
indexes = cornell[cornell['text'].isna() == True].index
cornell.iloc[indexes]

ValueError: invalid literal for int() with base 10: 'm0'

In [65]:
cornell.to_csv('new_cornell.csv')